section.testimonial{
    .testimonial-container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        padding: 2.5rem 0;
        img{
            height: 12%;
            width: 12%;
            border: 0.2rem solid $primary-color;
            border-radius: 100%;
            &:hover{
                border: 0.2rem solid $secondary-color;
            }
        }
        p{
            font-size: 2rem;
            padding: 1rem;
        }
    }
    .testimonial1{
        justify-content: flex-start;
    }
    .testimonial2{
        justify-content: flex-end;
    }
}



